body {
  margin: 0;
}
.footer {
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
}

.attribution {
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 100%);
  /* background: #2b8bee; */
  padding: 5px;
}
